* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
  }
.nvbar li{
  display: inline-block;
  padding: 20px;
  font-size: 23px;
}
.nvcolum{
  float: left;
  padding: 20px;
  width: 30%;
  border-bottom: 3px solid gray;
  font-weight: 700;
}
.nvcolum1{
  float: left;
  padding: 20px;
  width: 30%;
  border-bottom: 3px solid gray;
}
.nvcolum2{
  float: left;
  padding: 17px;
  width: 40%;
  border-bottom: 3px solid gray;
  margin-top: -3px;

}
.nvcolum2 button{
  background-color: orangered;
  border-radius: 5px;
  height: 35px;
  width: 150px;
  font-size: 19px;
  border: none;

}

  #navbar {
    display: flex;
    justify-content: space-around;
    width: 30%;
  
  }
  #navbar li {
    list-style: none;
  
  }
  #navbar a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 16px;
    
  }
  #navbar a:hover:not(.active){
    background-color:gray;
  }
  #navbar li a.active {
    background-color: orangered;
  }
  .box1 {
    width: 700px;
    height: 500px;
    float:right;
    padding-left: 100px;
    box-shadow: 5px 5px 5px gray;
    margin-right: 170px;

  }
  
  #image1text {
    height: 400px;
    width: 500px;
    position:absolute;
    left: 5%;
    top: 200px;
  }
  #image1text h3{
    font-size: 39px;
    font-weight: 900;
    color: black;
    padding-bottom: 20px;

  }
  #image1text p{
    padding-bottom: 40px; 
    font-size: 21px;

  }
  #image1text button {
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
  }
  .buya{
    background-color: orangered;
  }
  .renta{
    background-color: whitesmoke;
  }
#image1text button:hover{ 
  background-color:orange;
}
#imagetext1 img {
  height: 100px;
  position: absolute;
  top: -200px;
}
#top {
  height: 400px;
    width: 500px;
    position:absolute;
    left: 5%;
    top: 500px;
}

#top button {
  height: 40px;
    width: 80px;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-weight:bold;
}
#top button:hover{
  background-color: yellow;
}

.cars{
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 35px;
  width: 100%;
}
.types{
  text-align: left;
  font-weight: bold;
  padding: 30px 0;
  grid-column: 1/-1;
  margin-bottom: 30px;
  font-size: 20px;
}
.cars-column{
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px; 
  box-shadow: 5px 5px 5px gray;
 
}
.cars-column img{
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
}

h3{
  grid-column: 1/-1;
  text-align: left;
}
.type-column{
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 5px;
  grid-row-gap: 5px;

}
.type-column>div{
  display: grid;
  grid-template-columns: auto auto;
}
.type-column>div>h5{
  font-weight: lighter;
  font-size: 17px;

}
.bags{
  text-align: right;
}
.type-column>button{
  background: orangered;
  border: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  cursor: pointer;

}
.type-column>button:hover{
  background-color: orange;
}
.clients{
  width: 100%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.clients p{
  padding-top: 30px;
}

.colums{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.clients-column{
  width: 100%;
  padding: 40px;
  text-align: center;

}
.clients-column img{
  width: 100%;
  
}

.name{
  text-align: center;
  padding-top: 20px;
}


.top2{
  margin-top: 100px;
}

.parent button{
  border-radius: .1rem;
}

.type button img{
  height: 70%;
  width: 30%;
}
.type button{
  display: flex;
  float: left;
  width: 20rem;
  height: 3rem;
  margin-right: 2rem;
  border-radius: .5rem;
}


.kolumn{
  display: inline-block;
  margin-top: -100px;
  margin-left: 65px;
  padding-top: 150px;
}
#M1{ 
   border-radius: 10px;
  font-weight: 800;
  background-color: orangered;
  padding: 1px 10px;
  margin: 8px;
}
#M2{
  background-color: white;
  border-radius: 10px;
  padding: 1px 10px;
  margin: 8px;
  border: 1px solid lightgrey;
}
span{
  color: orangered;
  
}
#E{
  float: right;
  border-radius: 10px;
  padding: 1px 0px;
  margin: 13px;
  

}
#merc{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 5px solid none;

}
#m{
  float: right;
  padding: 13px;
}

.rowapps{
  background-color: antiquewhite;
  text-align: center;
  height: 300px;
  margin-top: 100px;
}

.play{
  height: 70px;
  width: 150px;
  margin-bottom: 50px;
}
.apstore{
  height: 150px;
  width: 300px;
}

.phone{
 width: 200px;
 height: 400px;
 margin-left: 800px;
 margin-bottom: 500px;
 margin-top: -200px;
 

}
.foot {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.foot h4{
  font-size: 20px;
  padding-top: 10px;
}
.foot li{
  padding-left: 10px;
}

Table {
border:3px solid orangered;
  width: 100%;
  height: 10px;

}
.last>button{
  background: orangered;
  border: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;

}
.last>button:hover{
  background-color: orange;
}
.rowfoot{
  padding-top: 200px;
}

